@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    scroll-behavior: smooth;
    /* font-family: "Ysabeau Office", sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* website image effect */
.image-wrap {
    overflow: hidden;
    margin: 50px auto;
  }
  
  .image-wrap img {
    object-fit: cover;
    object-position: top center;
    transition: all 1.5s ease-in-out;
  }
  
  .image-wrap:hover img {
    object-position: bottom center;
  }
  
  
  .card {
    border-radius: 25px;
    background-color: #FFF;
  }
  
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
  }
  
  .overlay::before,
  .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #880122;
  }
  
  .overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  